#!/usr/bin/expect -f

set username {{ prop_admin_username }}
set password {{ prop_admin_password }}

set timeout 120

spawn qm terminal {{ prop_proxmox_vmid }}

expect "(press Ctrl+O to exit)"
send -- "\r"

expect "vyos login"
send -- "$username\r"

expect "Password:"
send -- "$password\r"

expect "Welcome to VyOS!"
expect "$username@*"
send -- "config\r"

{% for dhcp in prop_vyos_dhcp %}
    {% for subnet in dhcp.subnets %}
        expect "$username@*"
        send -- "set service dhcp-server shared-network-name {{ dhcp.name }} subnet {{ subnet.ip }} subnet-id {{ subnet.id }}\r"
        expect "$username@*"
        send -- "set service dhcp-server shared-network-name {{ dhcp.name }} subnet {{ subnet.ip }} range clients start {{ subnet.start }}\r"
        expect "$username@*"
        send -- "set service dhcp-server shared-network-name {{ dhcp.name }} subnet {{ subnet.ip }} range clients stop {{ subnet.stop }}\r"
    {% endfor %}
    expect "$username@*"
    send -- "set service dhcp-server shared-network-name {{ dhcp.name }} description \"{{ dhcp.description }}\"\r"
    {% if dhcp.authoritative is sameas true %}
        expect "$username@*"
        send -- "set service dhcp-server shared-network-name {{ dhcp.name }} authoritative\r"
    {% endif %}
    {% if dhcp.name_server is defined %}
        expect "$username@*"
        send -- "set service dhcp-server shared-network-name {{ dhcp.name }} option name-server {{ dhcp.name_server }}\r"
    {% endif %}
    {% if dhcp.domain_name is defined %}
        expect "$username@*"
        send -- "set service dhcp-server shared-network-name {{ dhcp.name }} option domain-name \"{{ dhcp.domain_name }}\"\r"
    {% endif %}
    {% if dhcp.default_router is defined %}
        expect "$username@*"
        send -- "set service dhcp-server shared-network-name {{ dhcp.name }} option default-router \"{{ dhcp.default_router }}\"\r"
    {% endif %}
    {% if dhcp.unifi_controller is defined %}
        expect "$username@*"
        send -- "set service dhcp-server shared-network-name {{ dhcp.name }} option vendor-option ubiquiti unifi-controller {{ dhcp.unifi_controller }}\r"
    {% endif %}
{% endfor %}

expect "$username@*"
send -- "commit\r"

expect "$username@*"
send -- "save\r"

expect "$username@*"
send -- "exit\r"

expect "$username@*"
send -- "exit\r"

expect "logout"
send -- "\x0f"
expect eof

send_user "**** Changed Finished Expect: Network dhcp configured\n"
