#!/usr/bin/expect -f

set username {{ prop_admin_username }}
set password {{ prop_admin_password }}

set timeout 40

spawn qm terminal {{ prop_proxmox_vmid }}

expect "(press Ctrl+O to exit)"
send -- "\r"

expect "vyos login"
send -- "$username\r"

expect "Password:"
send -- "$password\r"

expect "Welcome to VyOS!"
expect "$username@*"
send -- "config\r"

{% for interface in prop_vyos_interfaces %}
    expect "$username@*"
    send -- "set interfaces ethernet {{ interface.name }} description \"{{ interface.description }}\"\r"
    {% if interface.address is defined %}
        {% if interface.address == "dhcp" %}
            expect "$username@*"
            send -- "set interfaces ethernet {{ interface.name }} address dhcp\r"
        {% else %}
            expect "$username@*"
            send -- "set interfaces ethernet {{ interface.name }} address {{ interface.address }}/{{ interface.mask }}\r"
        {% endif %}
    {% endif %}
    {% if interface.vlans is defined %}
        {% for vlan in interface.vlans %}
            expect "$username@*"
            send -- "set interfaces ethernet {{ interface.name }} vif {{ vlan.id }} address {{ vlan.address }}/{{ vlan.mask }}\r"
            expect "$username@*"
            send -- "set interfaces ethernet {{ interface.name }} vif {{ vlan.id }} description \"{{ vlan.description }}\"\r"
        {% endfor %}
    {% endif %}
{% endfor %}

expect "$username@*"
send -- "commit\r"

expect "$username@*"
send -- "save\r"

expect "$username@*"
send -- "exit\r"

expect "$username@*"
send -- "exit\r"

expect "logout"
send -- "\x0f"
expect eof

send_user "**** Changed Finished Expect: Network configured\n"

