#!/usr/bin/expect -f

set username {{ prop_admin_username }}
set password {{ prop_admin_password }}

set timeout 120

spawn qm terminal {{ prop_proxmox_vmid }}

expect "(press Ctrl+O to exit)"
send -- "\r"

expect "vyos login"
send -- "$username\r"

expect "Password:"
send -- "$password\r"

expect "Welcome to VyOS!"
expect "$username@*"
send -- "config\r"

{% for interface in prop_vyos_interfaces %}
    {% if interface.vlans is defined %}
        {% for vlan in interface.vlans %}
            {% for dnszone in prop_vyos_dns.zones %}
                expect "$username@*"
                send -- "set service dns forwarding authoritative-domain {{ dnszone.name }} records ns ns target ns.{{ dnszone.name }}\r"
                expect "$username@*"
                send -- "set service dns forwarding authoritative-domain {{ dnszone.name }} records a ns address {{ vlan.address }}\r"
            {% endfor %}
            expect "$username@*"
            send -- "set service dns forwarding listen-address {{ vlan.address }}\r"
        {% endfor %}
    {% endif %}
{% endfor %}

{% for allow in prop_vyos_dns.allows %}
    expect "$username@*"
    send -- "set service dns forwarding allow-from {{ allow }}\r"
{% endfor %}

{% for root in prop_vyos_dns.roots %}
    expect "$username@*"
    send -- "set service dns forwarding name-server {{ root }} port 53\r"
{% endfor %}

{% for forwarder in prop_vyos_dns.forwarders %}
    expect "$username@*"
    send -- "set service dns forwarding domain {{ forwarder.domain }} name-server {{ forwarder.address }} \r"
{% endfor %}

expect "$username@*"
send -- "commit\r"

expect "$username@*"
send -- "save\r"

expect "$username@*"
send -- "exit\r"

expect "$username@*"
send -- "exit\r"

expect "logout"
send -- "\x0f"
expect eof

send_user "**** Changed Finished Expect: Network configured\n"

