#!/usr/bin/expect -f
 
set password {{ prop_admin_password }}
set installusername vyos
set installpassword vyos

set timeout 30

spawn qm terminal {{ prop_proxmox_vmid }}

expect "(press Ctrl+O to exit)"
send -- "\r"

expect "vyos login"
send -- "$installusername\r"

expect "Password:" 
send -- "$installpassword\r"

expect {
    "Welcome to VyOS!" {
        expect "$installusername@*"
        send -- "config\r"

        expect "$installusername@*"
        send -- "set system login user vyos authentication plaintext-password $password\r"

        expect "$installusername@*"
        send -- "commit\r"

        expect "$installusername@*"
        send -- "save\r"

        expect "$installusername@*"
        send -- "exit\r"

        expect "$installusername@*"
        send -- "exit\r"

        expect "logout"
        send -- "\x0f"
        expect eof

        send_user "**** Changed: Finished Expect: No expire - New password for default user forced\n"
    }
}
