#!/usr/bin/expect -f

set username {{ prop_admin_username }}
set password {{ prop_admin_password }}

set timeout 120

spawn qm terminal {{ prop_proxmox_vmid }}

expect "(press Ctrl+O to exit)"
send -- "\r"

expect "vyos login"
send -- "$username\r"

expect "Password:"
send -- "$password\r"

expect "Welcome to VyOS!"
expect "$username@*"
send -- "config\r"

{% for dhcp in prop_vyos_dhcp %}
    {% if dhcp.subnets is defined %}
        {% for subnet in dhcp.subnets %}
            {% for host in hostvars.values() %}
                {% if host["prop_vm_network"] is defined %}
                    {% for vm_network in host["prop_vm_network"] %}
                        {% if vm_network["vlan"] is defined %}
                            {% if vm_network["vlan"] == subnet.id and vm_network["subnet"] is defined %}
                                expect "$username@*"
                                send -- "set service dhcp-server shared-network-name {{ vm_network["vlan"] }} subnet {{ vm_network["subnet"] }} static-mapping {{ host["prop_hostname"] }} description \"{{ host["prop_description"] | default('undefined') }}\"\r"
                                expect "$username@*"
                                send -- "set service dhcp-server shared-network-name {{ vm_network["vlan"] }} subnet {{ vm_network["subnet"] }} static-mapping {{ host["prop_hostname"] }} ip-address {{ vm_network["address"] }}\r"
                                expect "$username@*"
                                send -- "set service dhcp-server shared-network-name {{ vm_network["vlan"] }} subnet {{ vm_network["subnet"] }} static-mapping {{ host["prop_hostname"] }} mac {{ vm_network["mac"] }}\r"
                                expect "$username@*"
                                send -- "commit\r"
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endfor %}

expect "$username@*"
send -- "commit\r"

expect "$username@*"
send -- "save\r"

expect "$username@*"
send -- "exit\r"

expect "$username@*"
send -- "exit\r"

expect "logout"
send -- "\x0f"
expect eof

send_user "**** Changed Finished Expect: Network configured\n"

