#!/usr/bin/expect -f

set username {{ prop_admin_username }}
set password {{ prop_admin_password }}

set timeout 120

spawn qm terminal {{ prop_proxmox_vmid }}

expect "(press Ctrl+O to exit)"
send -- "\r"

expect "vyos login"
send -- "$username\r"

expect "Password:"
send -- "$password\r"

expect "Welcome to VyOS!"
expect "$username@*"
send -- "config\r"



{% for zone in prop_vyos_dns.zones %}
    {% for host in hostvars.values() %}
        {% if host["prop_vm_network"] is defined %}
            {% for vm_network in host["prop_vm_network"] %}
                {% if vm_network["dns"] is defined %}
                    {% for dns in vm_network["dns"] %}
                        {% if dns["domain"] == zone.name %}
                            expect "$username@*"
                            {% if dns["type"] is defined %}
                                {% if dns["type"] == "a" %}
                                    send -- "set service dns forwarding authoritative-domain {{ dns["domain"] }} records a {{ dns["name"] | default(host["prop_hostname"]) }} address {{ vm_network["address"] }}\r"
                                {% elif dns["type"] == "aaaa" %}
                                    send -- "set service dns forwarding authoritative-domain {{ dns["domain"] }} records aaaa {{ dns["name"] | default(host["prop_hostname"]) }} address {{ vm_network["address"] }}\r"
                                {% elif dns["type"] == "cname" %}
                                    send -- "set service dns forwarding authoritative-domain {{ dns["domain"] }} records cname {{ dns["name"] | default(host["prop_hostname"]) }} target {{ dns["target"] }}\r"
                                {% else %}
                                    send_user "Error"
                                {% endif %}
                            {% else %}
                                send -- "set service dns forwarding authoritative-domain {{ dns["domain"] }} records a {{ dns["name"] | default(host["prop_hostname"]) }} address {{ vm_network["address"] }}\r"
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endfor %}




expect "$username@*"
send -- "commit\r"

expect "$username@*"
send -- "save\r"

expect "$username@*"
send -- "exit\r"

expect "$username@*"
send -- "exit\r"

expect "logout"
send -- "\x0f"
expect eof

send_user "**** Changed Finished Expect: Network configured\n"

